<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Comentario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="enviar(fComment)" #fComment="ngForm">
    <ion-grid fixed>


      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Ingresa tu comentario</ion-label>
              <ion-textarea name="comment" [(ngModel)]="comment.comment"></ion-textarea>
            </ion-item>

                      </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" shape="round">
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
