//----------
.wrapper{
    border-bottom: 1px solid var(--ion-color-light);
}


.text-info{
    font-size: 0.9rem;
}

.name{
    font-weight: 600;
}

.handle{
    padding-left: 4px;
    color: var(--ion-color-medium);
}

.text-bold{
    font-weight:bold;
}