<div class="wrapper">
  <ion-row>

    
    <ion-col size="12">
      
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{url}}/user/image/{{comment.user._id}}/{{comment.user.image}}" alt="" />
        </ion-avatar>
        <ion-buttons slot="end">
          <ion-button        
            color="danger" 
            *ngIf="comment.user._id === user._id"
            (click)="showConfirm(comment._id)"          
          >
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        </ion-buttons>
        <ion-label>
          <h3 class="text-bold">{{comment.user.names}} {{comment.user.surnames}}</h3>
          <p>{{comment.created | date:'d MMM y, h:mm a'}}</p>
  
        </ion-label>
      </ion-item>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="10">
    
      <ion-row>
        <ion-col size="12">
          <div>{{comment.comment}}</div>
        </ion-col>
      </ion-row>
  
    </ion-col>
  </ion-row>

</div>