<ion-content class="ion-padding">
  <h1>Comunidad App</h1>
  <h3>¡Inicia sesión para continuar!</h3>
 
  <ion-card class="ion-no-margin">
    <ion-card-content>
      <form
        [formGroup]="validationFormUser"
        (ngSubmit)="login(validationFormUser.value)"
      >
        <div class="wrapform">
          <ion-item>
            <ion-input
              type="text"
              name="email"
              formControlName="email"
              placeholder="Correo o Teléfono"
              [(ngModel)]="user.email"
            >
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
          </ion-item>
          <div>
            <ng-container
              *ngFor="let validation of validationUserMessage.email"
            >
              <div
                class="error_message"
                *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)"
              >
                {{validation.message}}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-input
              type="password"
              name="password"
              formControlName="password"
              placeholder="Contraseña"
              [(ngModel)]="user.password"
            >
              <ion-icon name="lock-closed"></ion-icon>
            </ion-input>
          </ion-item>

          <div>
            <ng-container
              *ngFor="let validation of validationUserMessage.password"
            >
              <div
                class="error_message"
                *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)"
              >
                {{validation.message}}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="password_forgot">
          <ion-button fill="clear" class="ion-no-padding"
            >¿Has olvidado tu contraseña?</ion-button
          >
        </div>
        <div class="sign-btn-wrap">
          <ion-button
            shape="round"
            type="submit"
            fill="solid"
            class="sign-btn"
            [disabled]="!validationFormUser.valid"
          >
            Ingresar</ion-button
          >
        </div>

        <div class="text-tag">
          <span>Ingresa con:</span>
        </div>

        <div class="social-btns">
         
          <ion-button fill="clear" class="googlebtn ion-no-padding" (click)="loginGoogle()">
            <ion-img src="assets/images/google2.png"></ion-img> 
          </ion-button>
          
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <p class="footer-text">
    Soy un nuevo usuario,<a routerLink="/register"> Registrarme</a>
  </p>
</ion-content>
