* {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 15%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
  }
  
  h3 {
    color: #939fab;
    font-weight: 600;
  }
  
 /*  form {
    margin-top: 6rem;
  
    .forgot-password-link {
      text-decoration: none;
      display: inline-block;
      width: 100%;
      text-align: right;
      font-weight: 600;
      font-size: 14px;
      color: #4a4a4a;
    }
  
    app-button {
      display: block;
      margin-top: 3rem;
    }
  } */
  
  .footer-text {
    text-align: center;
    font-size: 17px;
    margin-top: 30%;
  
    a {
      text-decoration: none;
      font-weight: 600;
      color: rgb(46, 111, 155);
    }
  }



  /* CLASS IMPUTS */
  .form-field {
    position: relative;
    margin-bottom: 1rem;
    height: 50px;
  
    label {
      position: absolute;
      left: 1rem;
      top: 1rem;
      padding: 0 0.25rem;
      color: #939fab;
      font-size: 1rem;
      transition: 0.3s;
    }
  
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 17px;
      font-weight: 600;
      border: 2px solid #e7ebee;
      border-radius: 10px;
      outline: none;
      padding: 1rem;
      background: none;
      z-index: 1;
      color: #171c25;
    }
  
    input:focus {
      border-color: #171c25;
    }
  
    .label-focused {
      top: -0.4rem;
      left: 0.8rem;
      font-size: 14px;
      font-weight: 600;
      background-color: #fff;
      z-index: 10;
    }
  }




  /* NEW */

  
.wrapform{
  margin-top: 15px;
}
.error_message{
  font-size: 1rem;
  color: red;
}
ion-item {
    color:#647B9D;
  --border-color: #D4D7DB;
  --highlight-color-focused:#1248A0;
  --padding-start:0;
  --inner-padding-end:0;
  


    font-size: 1.1rem;
     // --color-focused:#1248A0 !important;
     ion-input{
       color:#647B9D;

     }
    ion-icon{
      padding-right: 6px;
      font-size: 1.5rem;
    }

    ion-input:hover{
      color: #1248A0;
    }


}



.password_forgot{
  text-align: right;
  // color:#0A4296
  ion-button{
    font-size: 12px;
    color: #0A4296;
  }
}

.sign-btn-wrap{
   text-align: center;
   padding-top: 20px;
  .sign-btn{
    --ion-primary-color:#215AB7;
    --background-activated:#E1EAF9;
    --background-focused:#E1EAF9;
    --background-hover:#647B9D;
    color:#F4F6FA;
    border-radius: 25px;
    --background:#215AB7;
    background-color: #215AB7;
  }
}

.text-tag{
  margin-top: 30px;
  text-align: center;
  span{
    font-size: 13px;
    font-weight: normal;
    color:#898585;
  }
}

.social-btns{
  margin-top: 25px;
  text-align: center;
  ion-button{
    width:40px;
    padding-left: 5px !important;
  }
}

ion-card{
  --ion-background-color: transparent !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.ion-card-footer{
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;

  span{
  color: #85888D;
  font-size: 12px;
  font-weight: 200;

  }

  button{
     background-color: transparent;
     font-size: 14px;
     font-weight: 600;
     padding-left: 3px;
     color: #535558;

  }

  button:hover{
    color: #969393;
  }
}