<ion-card class="post">
  <ion-item>
    <ion-avatar slot="start">
      <img src="{{url}}/user/image/{{post.user._id}}/{{post.user.image}}" alt="">
    </ion-avatar>
    <ion-label>
      <h3>{{post.user.names}} {{post.user.surnames}}</h3>
      <p>{{post.created | date:'d MMM y, h:mm a'}}</p>

    </ion-label>
  </ion-item>
  <!-- ngIf imgs -->

  <ion-slides pager="true" *ngIf="post.imgs.length  >1">
    <ion-slide *ngFor="let img of post.imgs" class="image-slide"
      style="background-image: url('{{img | imagen:post.user._id}}');">
    </ion-slide>

  </ion-slides>

  <ion-slides pager="false" *ngIf="post.imgs.length  ===1" [options]="slideSoloOpts">
    <ion-slide class="image-slide" style="background-image: url('{{post.imgs[0] | imagen:post.user._id}}');">
    </ion-slide>

  </ion-slides>
  <ion-card-header>
    <ion-card-subtitle text-wrap> {{post.message}} 
    </ion-card-subtitle>
  </ion-card-header>

  <ion-footer>
    <ion-row>
      <ion-col center text-center *ngIf="!liked">
        <ion-button size="small"  color="light" (click)="like(post._id)">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <p> Me gusta</p>
        </ion-button>
      </ion-col>

      <ion-col center text-center *ngIf="liked">
        <ion-button size="small"  color="primary" (click)="dislike(post._id)" fill="clear">
          <ion-icon slot="start" name="thumbs-up"></ion-icon>
          <p> Me gusta</p>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button  size="small" color="light" disabled>{{likes}} me gustas</ion-button>
      </ion-col>

    </ion-row>
  </ion-footer>
</ion-card>